<!-- HEADER-01 CONTENT -->
  <div class="header-01-sub" data-scroll-index="0">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="slide-left col-sm-6"  data-plugin-options='{"distance":700,"speed":1000}'>
            <h1>Creative One Page Generator</h1>
            <div class="small-border"></div>
            <p class="lead">
            The ideal puzzle based tool for creating websites within minutes
            </p>
            <p><a class="btn btn-simple btn-lg" role="button"><i class="fa fa-arrow-circle-down fa-2x"></i>See Features</a></p>
          </div>
          
          <!-- CAROUSEL STARTS HERE -->
          <div class="slide-right col-sm-6" data-plugin-options='{"distance":700,"speed":1000}'>
            <div  id="header-1-carousel" class="owl-carousel owl-theme">
              <div class="item">
                <img src="images/header-01-slide.png" alt="nevermore">
              </div>
              <div class="item-video"><a class="owl-video" href="http://vimeo.com/10577584"></a></div>
              
            </div>
            
          </div>
          <!-- CAROUSEL ENDS HERE -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- END HEADER-01 CONTENT -->
  
  <!-- HEADER-01 NAVIGATION BAR -->
  
  <div class="header-01">
    <div class="navbar navbar-simple" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/logo.png" alt="nevermore"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#" data-scroll-nav="0">Home</a>
            </li>
            <li>
              <a href="#" data-scroll-nav="1">Features</a>
            </li>
            <li>
              <a href="#" data-scroll-nav="2">Prices</a>
            </li>
            <li>
              <a href="#" data-scroll-nav="3">Contact</a>
            </li>
          </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </div>
    </div>
    <!-- END HEADER-01 NAVIGATION BAR -->